:root {
  --card-bg: rgb(255, 255, 255);
  --green: hsl(128, 87%, 47%);
  --red: hsl(0, 87%, 47%);
  --purple: hsl(253, 87%, 47%);
  --keyline: hsl(0, 0%, 87%);
  --keyline-dark: hsl(0, 0%, 80%);
  --shadow: rgba(0, 0, 0, 0.397);
  --off-white: hsl(0, 0%, 97.5%);
  --dark-grey: #333;
  --text-color: var(--dark-grey);

  --success: hsl(179, 87%, 22%);
  --error: hsl(0, 83%, 72%);

  --radius: 10px;
  --radius-sm: 5px;
}

body {
  font-family: Ubuntu;
  margin: 0;
  padding: 0;
}

.shape__wrapper {
  width: calc(100% / 5);
  margin: 0 3px;
}
.shape {
  display: block;
  width: 100%;
  stroke-width: 0.3;
  border-radius: var(--radius);
}

body {
  font-family: Ubuntu;
  margin: 0;
  padding: 0;
}

.shape__wrapper {
  width: calc(100% / 5);
  margin: 0 3px;
}
.shape {
  display: block;
  width: 100%;
  stroke-width: 0.3;
  fill: transparent;
}

.green {
  stroke: var(--green);
}
.green.full {
  fill: var(--green);
}
.green.lined {
  fill: url(#hatched-green);
}

.purple {
  stroke: var(--purple);
}
.purple.full {
  fill: var(--purple);
}
.purple.lined {
  fill: url(#hatched-purple);
}

.red {
  stroke: var(--red);
}
.red.full {
  fill: var(--red);
}
.red.lined {
  fill: url(#hatched-red);
}

.feedback {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 10px var(--shadow);
}

.feedback > * {
  padding: 0 0.5em;
}

.feedback.error {
  background: var(--error);
}

.feedback.success {
  background: var(--success);
  color: var(--off-white);
}

.game__area {
  position: relative;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.game__table {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.game__card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--card-bg);
  border: 2px solid var(--keyline);
  height: calc(80vw / 3 - 20px);
  max-height: 150px;
}
.game__card.active {
  background: var(--off-white);
  border: 2px solid var(--keyline-dark);
  box-shadow: 1px 1px 8px var(--shadow);
}

.status {
  margin-top: 0.5em;
  background: var(--keyline);
  color: var(--dark-grey);
  padding: 0.5em;
}

.reset {
  padding: 5px;
  display: inline-block;
  box-shadow: 0 0 1px hsl(179, 71%, 24%), 1px 1px 2px var(--shadow);
  background: hsla(0, 100%, 100%, 0.1);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
.found-sets {
  display: flex;
  flex-wrap: wrap;
}
.found-set {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--keyline-dark);
  border-radius: var(--radius-sm);
  margin-right: 2vw;
  margin-top: 2vw;
}
.found-set__card {
  display: flex;
  margin-right: 2px;
}
.found-set .shape__wrapper {
  width: 3.8vw;
  margin: 0;
}
